<%if @video.user_id==current_user.id%>
 <%= stylesheet_link_tag "colorbox" %>
 <%= stylesheet_link_tag "up_style" %>
 <%= javascript_include_tag "up_script" %>
  
<div class='container'>
	<br/>
	<h1 class='page_title'><%=@video.title%></h1><p id='author'>by CurrentUser</p>

	<div id='video_area'>
		<br/>
		<%= video_tag(["testvid.mp4"], :size => "600x400", :controls => true, :id =>'myvideo') %>
		
		<div class ="uploader_result" id='result_area'>
			<div class = "uploader_chart" id='recvid_feedback'>
				<canvas  class = "uploader_canvas" id="recvid_chart" width="75" height="75"></canvas>
<!-- 					<%= javascript_tag do %>
					drawChart("recvid_chart", 
								<%= @video.sold %>, 
								<%= @video.notsold %>, 
								100, 
								50);
				<% end %> -->
				 <%= javascript_tag do %>
					drawChart("recvid_chart", 
								423, 
								124, 
								34, 
								78);
				<% end %> 
				<br/>
				<div class ="uploader_result_circle">
					<div class='circle_l sold'></div><p class='main_rec_feedback bl'><b class='emph'><%= @video.sold %></b> SOLD</p><br/>
					<div class='circle_l not_sold'></div><p class='main_rec_feedback bl'><b class='emph'><%= @video.notsold %> </b> NOT SOLD</p>
					<br/>
					<div class='circle_s sold_to_not'></div>
					<p class='change_rec_feedback bl' id="yestono" onclick="changeclick()"><b class='emph'>12</b> SOLD TO NOT SOLD</p><img class ='upload_arrow' id="y2n" src="/assets/arrow-right.png"><br/>
					<div class='circle_s not_to_sold' ></div>
					<p class='change_rec_feedback bl' id="notoyes"><b class='emph'>19 </b>NOT SOLD TO SOLD</p><img class ='upload_arrow' id="n2y" src="/assets/arrow-right.png"><br/>
				</div>
			</div>


		</div>

	</div>

	<div id='comment_area'>
		<div id='videoline_container'>
			<div id='vidline_playback_container'>
					<div id="video-controls">
						<p id='current_time'>0:00</p><p id='duration'></p>
					    <input type="image" id="play-pause" src='/assets/play.png'></button>
					    <input type="range" id="seek-bar" value="0">
					    <input type="image" id="mute" src='/assets/audio.png'></button>
					    <input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
					    <input type="image" id="full-screen" src='/assets/full.png'></button>
					</div>
					<div id='comment_bubbles'></div>
				</div>
			</div>
		</div>

		<div id='pointer_container'><img id='pointer' src='/assets/pointer.png'></div>
		<div id='comment_container'>
			<table id="comments_table">
				<tr>
					<td><h1 id='comments_head'>Comments (<%= @comments.count%>) </h1></td>

					<td><h1 ><%= link_to "View All", videos_update_comments_path, remote: true, :id => "comments_viewall"%></h1></td>

				</tr>
			</table>
			<div id="partial_container">
				<%= render :partial => "comment_container" %>
			</div>
		</div>
	</div>
</div>
<%else%>

<%= stylesheet_link_tag "reviewer" %>

<div id='title_holder'>
	<h1 class='page_title' id='title'><%= @video.title %></h1><p id='author'>by User</p>
</div>

<div id="videopanel">
	<%= video_tag(["testvid.mp4"], :size => "600x360", :id=>"yourvideo",:controls => true, :class=>'vid_display') %>
	<div class='right_panel'>
	<%=link_to "BROWSE OTHER VIDEOS" , videos_path,:class=>'button bl', :id=>'back'%>
		<div class='vote_panel'>
			<%if @change.nil?%>
				<h1 class='bl' id='vote_text'>ARE YOU SOLD?</h1><br/>
				<%=link_to 'Yes', video_sold_path(@video.id), :class=> "button submit_vote sold"%>
				<%=link_to 'No', video_notsold_path(@video.id), :class=> "button submit_vote not_sold"%>
		</div>
			<%else%>
				<%if @change.vote=="yes"%>
		<div class='bl' id="vote_text">
			YOU ARE SOLD!
				<%else%>
			YOU ARE NOT SOLD!
		</div>
				<%end%>
		<br/>
				<%if !@change.ischanged%>		
			<button type="button" class="changebutton button submit" id="changebtn">CHANGE</button>
		<div id="confirm_panel" class = "hidden bl">
			<p class='change_text bl'>Why do you want to change your vote? <br/>
			<b id='small_text'>To make your opinion really matter, you can only change once!</b></p>
			<textarea rows="4" cols="55" class='bl change_field' id="changevote1"></textarea><br>
			<%=link_to 'Change', video_change_path(@video.id), :class=> "bl submit btn pull-right", :id=> "changebutton"%>
		</div>	
				<% else %>
				<br/>
				<p id='small_text' style="text-align:center; width:60%; font-size:20px;margin-left:15%; margin-top:5%;">Looks like you've already changed your vote once for this pitch.</p>
				<%end%>
			<%end%>
		</div>
	</div>
</div>
</div>	

<script>
	$('#changebtn').click(function(){
		console.log("CLICKEDDDDD")
		$('#changebtn').addClass("hidden");
		$('#confirm_panel').removeClass("hidden");
	});
</script>

<div id="comment_panel">
	<h1 id='comment_stamp' class="bl">0:00</h1>
	<%= render :partial => "comments/form" %>
</div>

<script>

var video=document.getElementById("yourvideo"); 

	video.addEventListener('loadedmetadata', function() {
      duration = video.duration;
      console.log(duration);
  });

var minutes = Math.floor(video.currentTime/60);
		var seconds = Math.floor(video.currentTime-minutes*60)
		if (seconds<10){
			seconds='0'+seconds
		}


	function togglePlay() {
	    if (video.paused == true) {
	    // Play the video
	    video.play();
	  } else {
	    // Pause the video
	    video.pause();
	  }
	}


	video.addEventListener("click", function() {
    	togglePlay();
  	});

$("#comment_area").keydown(function(event){ 
	console.log("HELLOO")
		if(event.keyCode == 13){
			video.play();
		}
		else if (!video.paused){
			video.pause();
		}

		var minutes = Math.floor(video.currentTime/60);
		var seconds = Math.floor(video.currentTime-minutes*60)
		if (seconds<10){
			seconds='0'+seconds
		}

		if ($('#comment_area').val().length==1){
			$('#comment_area').val('['+minutes+":"+seconds+'] '+$('#comment_area').val());
		}
		// $('#comment_time_stamp').val('['+minutes+":"+seconds+'] ')
		$('#comment_time_stamp').val(video.currentTime)

	});
	$("#comment_submit").click(function(){
		video.play()
	});

</script>


<div id = "hidecomments"><h6> hide comments</h6></div>
<div id = "showcomments" class="hidden"><h6> show comments</h6></div>

<div id="view_comments_panel">
	<h1 class="sub_title bl">YOUR COMMENTS <%= @video.comments.count%></h1>
	<div id="comment_list" class='individual_comment'>
		<%if @video.comments.count!=0%>
		<ul>
			<%@video.comments.each do |comment|%>
			<div class='individual_comment'>
				<table>
					<tr>
						<!-- <td class="comment_timestamp"><%= comment.time_stamp%></td> -->
						<td class="comment_text"><%= comment.comment_text%></td>
					</tr>
				</table>

			</div>
			<%end%>
		</ul>

		<%end%>
    </div>


    <script>

	$('#hidecomments').click(function(){
		$('#hidecomments').addClass('hidden');
		$('#comment_list').addClass('hidden');
		$('#showcomments').removeClass('hidden');
	});

	$('#showcomments').click(function(){
		$('#comment_list').removeClass('hidden');
		$('#hidecomments').removeClass('hidden');
		$('#showcomments').addClass('hidden');
	});
	</script>
</div>
<%end%>