<%if @video.user_id==current_user.id%>
 <%= stylesheet_link_tag "colorbox" %>
  <%= stylesheet_link_tag "up_style" %>
  
<div class='container'>
	<h1 class='page_title'><%=@video.title%></h1><p id='author'>by CurrentUser</p>

	<div id='video_area'>
		<br/>
		hey <%= video_tag(["testvid.mp4"], :size => "445x250", :controls => true, :id =>'yourvideo') %>
		
		<div id='result_area'>

			<div class='change_cmts' id='n2y_cmt'>
				<h2 class='cmt_hd' id='n2y_c_head'><b id='num_n2y_c'></b> changed to SOLD</h2>
				<img class='bck_arw' id='bck_yes_arw' src='/assets/arrow.png'><p class='back' id='bck_yes'>BACK</p>
				<div class='cmtbx' id='n2y_cmtbx'>
				</div>
			</div>

			<div class="r_cnt" id='yes_container'>
				<div class="res_circle" id='yes_c'></div>
				<div class="res_circle" id='n2y_c'></div>

				<div class="res" id="yes">
					<p class='r_txt'><b id='num_sold'></b> <%=@video.sold%>were sold</p>
					<p class= 'r_txt' id='y_c'><b id='num_n2y'></b> changed their mind  <img class='arw' id='y_a' src='/assets/arrow.png'></p> 
				</div>
			</div>

			<div class='change_cmts' id='y2n_cmt'>
				<h2 class='cmt_hd' id='y2n_c_head'><b id='num_y2n_c'></b>changed to NOT SOLD </h2> 
				<img class='bck_arw' id='bck_no_arw' src='/assets/arrow.png'><p class='back' id='bck_no'>BACK</p>
				<div class='cmtbx' id='y2n_cmtbx'>

				</div>
			</div>

			<div class="r_cnt" id="no_container">
				<div class="res_circle" id='no_c'></div>
				<div class="res_circle" id='y2n_c'></div>

				<div class="res" id="no">
					<p class='r_txt'><b id='num_not_sold'></b> <%=@video.notsold%>were not sold</p>
					<p class='r_txt' id='n_c'><b id='num_y2n'></b> changed their mind  <img class='arw' id='n_a' src='/assets/arrow.png'></p> 
				</div>
			</div>
		</div>

	</div>

	<div id='comment_area'>
		<div id='videoline_container'>
			<div id='vidline_playback_container'>
					<div id="video-controls">
						<p id='current_time'>0:00</p><p id='duration'></p>
					    <input type="image" id="play-pause" src='/assets/play.png'></button>
					    <input type="range" id="seek-bar" value="0">
					    <input type="image" id="mute" src='/assets/audio.png'></button>
					    <input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
					    <input type="image" id="full-screen" src='/assets/full.png'></button>
					</div>
					<div id='comment_bubbles'></div>
				</div>
			</div>
		</div>

		<div id='pointer_container'><img id='pointer' src='/assets/pointer.png'></div>
		<div id='comment_container'>
			<h1 id='comments_head'>Video Comments @ <b id='start_time'>0:00</b> - <b id='end_time'>0:10</b></h1>
			<div id='ind_comment_container'>
				<% @video.comments.each do |comment| %>
				<%=comment.time_stamp%>
				<%=comment.comment_text%>
				<%end%>

			</div>
		</div>
	</div>
</div>
<%else%>

<%= stylesheet_link_tag "reviewer" %>

<div id='title_holder'>
	<h1 class='page_title' id='title'><%= @video.title %></h1><p id='author'>by User</p>
</div>

<div id="videopanel">
	<%= video_tag(["testvid.mp4"], :size => "640x360", :controls => true, :class=>'vid_display') %>
	<div class='right_panel'>
	<%=link_to "BROWSE OTHER VIDEOS" , videos_path,:class=>'button bl', :id=>'back'%>
		<div class='vote_panel'>
			<%if @change.nil?%>
				<h1 class='bl' id='vote_text'>ARE YOU SOLD?</h1><br/>
				<%=link_to 'Yes', video_sold_path(@video.id), :class=> "button submit_vote sold"%>
				<%=link_to 'No', video_notsold_path(@video.id), :class=> "button submit_vote not_sold"%>
		</div>
			<%else%>
				<%if @change.vote=="yes"%>
		<div class='bl' id="vote_text">
			YOU ARE SOLD!
				<%else%>
			YOU ARE NOT SOLD!
		</div>
				<%end%>
		<br/>
				<%if !@change.ischanged%>		
			<button type="button" class="button2 button submit" id="changebtn">CHANGE</button>
		<div id="confirm_panel" class = "hidden bl">
			<p class='change_text bl'>Why do you want to change your vote? <br/>
			<b id='small_text'>To make your opinion really matter, you can only change once!</b></p>
			<textarea rows="4" cols="75" class='bl change_field' id="changevote1"></textarea><br>
			<%=link_to 'Change', video_change_path(@video.id), :class=> "bl button submit btn pull-right"%>
		</div>	
				<% else %>
				<br/>
				<p id='small_text'>Looks like you've already changed your vote once for this pitch.</p>
				<%end%>
			<%end%>
		</div>
	</div>
</div>
</div>	

<script>
	$('#changebtn').click(function(){
		console.log("CLICKEDDDDD")
		$('#changebtn').addClass("hidden");
		$('#confirm_panel').removeClass("hidden");
	});
</script>


<div id="comment_input">
     <%= render :partial => "comments/form" %>
</div>




<div id="comment_panel">
	<h1 id='comment_stamp'>0:00</h1>
	<%= form_for @comment, :url => video_comments_path(@video) do |f| %>
    	<% render :partial => "comments/form" %>
     <%end%>
</div>

<script>

var video=document.getElementById("yourvideo"); 

	video.addEventListener('loadedmetadata', function() {
      duration = video.duration;
  });

var minutes = Math.floor(video.currentTime/60);
		var seconds = Math.floor(video.currentTime-minutes*60)
		if (seconds<10){
			seconds='0'+seconds
		}

	function togglePlay() {
	    if (video.paused == true) {
	    // Play the video
	    video.play();
	  } else {
	    // Pause the video
	    video.pause();
	  }
	}


	yourvideo.addEventListener("click", function() {
    	togglePlay();
  	});

$("#comment_comment_text").keydown(function(event){ 
		if(event.keyCode == 13){
			video.play();
		}
		else if (!video.paused){
			video.pause();
		}

		var minutes = Math.floor(video.currentTime/60);
		var seconds = Math.floor(video.currentTime-minutes*60)
		if (seconds<10){
			seconds='0'+seconds
		}
		if ($('#comment_comment_text').val().length==1){
			$('#comment_comment_text').val('['+minutes+":"+seconds+'] '+$('#comment_comment_text').val());
		}
		// $('#comment_time_stamp').val('['+minutes+":"+seconds+'] ')
		$('#comment_time_stamp').val(video.currentTime)

});
$("#comment_submit").click(function(){
	video.play()
});

</script>


<div id = "hidecomments"><h6> hide comments</h6></div>
<div id = "showcomments" class="hidden"><h6> show comments</h6></div>

<div id="view_comments_panel">
	<h1 class="sub_title bl">YOUR COMMENTS <%= @video.comments.count%></h1>
	<div id="comment_list">
		<%if @video.comments.count!=0%>
		<ul>
			<%@video.comments.each do |comment|%>
			<li>
			<!-- <%=comment.time_stamp%> -->
			<%= comment.comment_text%>

			</li>
			<%end%>
		</ul>

		<%end%>
    </div>


    <script>

	$('#hidecomments').click(function(){
		$('#hidecomments').addClass('hidden');
		$('#comment_list').addClass('hidden');
		$('#showcomments').removeClass('hidden');
	});

	$('#showcomments').click(function(){
		$('#comment_list').removeClass('hidden');
		$('#hidecomments').removeClass('hidden');
		$('#showcomments').addClass('hidden');
	});
	</script>
</div>
<%end%>