<%= stylesheet_link_tag "login" %>

<div class ="listing">
	<div class ="loginbox">
		<p id='top-line'>BE THE BEST YOU</p>
		<p id='second-line'>MAKE THE PERFECT PITCH</p>
		<br/>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div id='log_email'><%= f.label :email %><br />
		  <%= f.email_field :email, :autofocus => true, :class=>'textchange' %></div>

		  <div id='log_pass'><%= f.label :password %><br />
		  <%= f.password_field :password, :class=>'textchange' %></div>

		  <% if devise_mapping.rememberable? -%>
		    <div id="remember_me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		  <% end -%>
		  <div id='signbutton'>
		  	<%= f.submit 'Sign In'%>
		  </div>
		<% end %>
		<div class='ex_links'>
		<%= render "devise/shared/links" %>
		</div>
	</div>
</div>