<!DOCTYPE html>
<html>
<head>
  <title>Critiqueit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "browse" %>
  <%= stylesheet_link_tag "login" %>
  <%= stylesheet_link_tag "navbar" %>
  <%= stylesheet_link_tag "jquery.sidr.dark.css" %>
  <%= javascript_include_tag "Chart" %>
  <%= javascript_include_tag "colorbox-min" %>
  <%= javascript_include_tag "jquery.sidr.min" %>
  <%= javascript_include_tag "browse" %>
  <%= javascript_include_tag "control_bar" %>
  <%= javascript_include_tag "reviewer" %>
  <%= javascript_include_tag "up_script" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">
  <div id='sidr'>
    <div id='menu_container'>
      <%=link_to "BROWSE" , videos_path,:class=>'nav_ctrl button', :id=>'n_browse'%>
      <% if user_signed_in?%>
        <%=link_to "YOUR VIDEOS" , profiles_path,:class=>'nav_ctrl button', :id=>'n_vid'%>
        <%=link_to "UPLOAD" , profiles_path,:class=>'nav_ctrl button', :id=>'n_vid'%>
      <% end %>
      <br/>
      <%=link_to "WHAT IS A PITCH" , profiles_path,:class=>'nav_ctrl button', :id=>'n_vid'%>
      <%=link_to "ABOUT" , profiles_path,:class=>'nav_ctrl button', :id=>'n_vid'%>
    </div>

    <% if user_signed_in? %>
    <div class='button' id='rec_pitch'>
      <% @recvid = current_user.videos.order("created_at").last %>
      <% if @recvid == nil %>
        <br/>
        <h3 class='oops bl'>Looks like you don't have any videos yet. Try uploading a pitch!<h3>
      <% else %>
        <%= link_to(@recvid) do%>
          <div class='button' id='recent_panel_mini'>
            <p class='mini_title bl'>MOST RECENT PITCH</p>
            <p class='mini_rec_info bl'>Title: <%= @recvid.title %></h4>
            <p class='mini_rec_info bl'>Duration: 1:07<br/>
            <p class='mini_rec_info bl'>Created on: <%= @recvid.created_at.to_formatted_s(:long) %><br/>
            <p class='mini_rec_info bl'>Comments: <%= @recvid.comments.count %></p>

            <p class='mini_feedback bl'>23<%= @recvid.sold %> SOLD</p>
            <p class='mini_feedback bl'>12<%= @recvid.notsold %> NOT SOLD</p>
          </div>
        <% end %>
      <% end %>
    </div>
    <%end%>

  </div>


  <div id='navbar'>
    <%= image_tag("logo.png", :id => "img_logo")%>
    <%= link_to('critiqueit', root_path, :class=> "header_item button", :id=>"nav_title")%>
    <div class='header_item button' id='nav_log'>
      
        <% if user_signed_in? %>
              <%= link_to("LOGOUT", destroy_user_session_path, :method=> 'delete', :class => "header_item button", :id => "n_log") %>
          <% else %>
              <a href='login.html' class='header_item button' id='n_log'>LOGIN</a>
        <% end %>
      
    </div>
    <div class='header_item button' id='nav_menu'>
        MENU<%= image_tag("menu.png", :id => "img_menu") %>
    </div>
  </div>

  <%= yield %>

</body>

<footer>
  <div id='footer'>
    mit 6.813 course project | andre mroz, jennifer hu, kristin au, victoria li
  </div>
</footer>

</html>
