<!DOCTYPE html>
<html>
<head>
  <title>Critiqueit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "browse" %>
  <%= stylesheet_link_tag "login" %>
  <%= stylesheet_link_tag "navbar" %>
  <%= javascript_include_tag "colorbox-min" %>
  <%= javascript_include_tag "browse" %>
  <%= javascript_include_tag "control_bar" %>
  <%= javascript_include_tag "reviewer" %>
  <%= javascript_include_tag "up_script" %>
 

  <%= csrf_meta_tags %>
</head>
<div id='nav_bar'>
			<a href='home.html' class='nav_ctrl' id='n_home'>
				YOUR VIDEOS
			</a>

      <% if user_signed_in? %>
        <a href='browse.html' class='nav_ctrl' id='n_browse' style="opacity: 1;">
        BROWSE
        </a>
      <% else %>
        <a href='home.html' class='nav_ctrl' id='n_browse' style="opacity: .5;">
        BROWSE
        </a>
      <% end %>
			
			<a href='home.html' class='nav_ctrl' id='n_logo'>
				CRITIQUE.IT
			</a>

			<% if user_signed_in? %>
          		<%= link_to("LOGOUT", destroy_user_session_path, :method=> 'delete', :class => "nav_ctrl", :id => "n_log") %>
          	<% else %>

         	<a href='login.html' class='nav_ctrl' id='n_log'>LOGIN</a>

	         <% end %>
			
</div>

<body>

<%= yield %>


</body>
<footer>
	<div id='footer'>
			MIT 6.813 Course Project | Andre Mroz, Jennifer Hu, Kristin Au, Victoria Li
</div>
</footer>
</html>
